.containerReferences {
   z-index: 50;
   max-width: 500px;
   // height: 280px;
   padding: 24px;
   border: 2px solid var(--fb1);
   border-radius: 8px;
   background-color: var(--bs-dark);
   height: 480px;
   // overflow: hidden;

   .references {
      height: 380px;
      // height: auto;
      
      span {
         // width: 100%;
         overflow: auto;
      }

      .referenceItem {
         transition: all .75s;
         &:hover {
            border: 1px solid var(--fb1);
         }
      }
   }
}