.containerAboutMe {
   height: 100vh;
}

.aboutMeInfos {
   border: 2px solid var(--fb1);
   border-radius: 8px;
}

.aboutMe {
   width: 380px;
   height: auto;
   padding: 24px;
   border: 2px solid var(--fb1);
   border-radius: 8px;
   background-color: var(--bs-dark);
   z-index: 50;
}

.aboutHeader {
   height: 24px;
}

.aboutPhotoArea {
   flex: 1;
}

.aboutPhoto {
   max-width: 132px;
   border: 2px solid var(--fb1);
   border-radius: 8px;
   background-color: var(--bs-dark);
   // background-color: transparent;
   position: relative;
   top: -45px;
}

.aboutDesc {
   
}

.aboutSocial {
   a {
      outline: none;
   }
}