#closingFormDay h4 > #closeElementFormDay:hover {
   cursor: pointer;
   opacity: 0.5;
}

.closingDayForm > div.inputForm {
   height: 48px; 
}

.inputValue {
   padding: 4px 12px;
}

.calcCardText {
   font-size: 12px;
}

.text-blue-mp {
   color: var(--blue-mp);
   font-weight: bold;
}

.text-yellow-ml {
   color: var(--yellow-ml);
   font-weight: bold;
}