* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--bg-dark);
   // // font-family: 'Roboto', sans-serif ;
   // // display: flex;
   // // justify-content: center;
   // // align-items: center;
}

.container {
   width: 100%;
   height: 100vh;
}

a { text-decoration: none;}

.inputTF {
   font-size: 16px;
   font-weight: bold;
   color: var(--bs-secondary);
}

.bb-info {
   border-bottom: 2px solid var(--bs-info);
}

.notAllowed { cursor: not-allowed; }
.pointer { cursor: pointer; }

.none { display: none; }
.hidden { visibility: hidden; }
.w-bg { background-color: transparent; }
.w-border { border: none; }
.opacity:hover { opacity: 0.8; }
.transition { transition: all .75s; }
.invertedX { transform: scaleX(-1); }
.jcfs { justify-content: flex-start; }
.jcfe { justify-content: flex-end; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }
.z-index-50 { z-index: 50; }

.text-gradient-blue {
   color: transparent;
   background-image: linear-gradient(157.01deg, #081C65 14.89%, #13ADDF 112.37%);
   background-clip: text;
   -webkit-background-clip: text;
}

.text-gradient-red {
   color: transparent;
   background-image: linear-gradient(157.72deg, #202225 49.58%, #BB2D3B 92.59%);
   background-clip: text;
   -webkit-background-clip: text;
}

.text-russin-gradient {
   background: linear-gradient(102.68deg, #FEFEFE 4.59%, #0038A5 47.75%, #D52B1E 97.7%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.russianGradient {
   background: linear-gradient(102.68deg, #FEFEFE 4.59%, #0038A5 47.75%, #D52B1E 97.7%);
}

.border-gradient-blue {
   border: 2px solid transparent;
   border-radius: 4px;
   border-image: linear-gradient(157.01deg, #081C65 14.89%, #13ADDF 112.37%);
   border-image-slice: 1;
}

.border { border: 1px solid #C1C7E0; border-radius: .25rem; }
.border2 { border: 1px solid #DEE2E6; border-radius: .25rem; }
.border3 { border: 1px solid red; border-radius: .25rem; }
.border4 { border: 1px solid blue; border-radius: .25rem; }
.border5 { border: 1px solid green; border-radius: .25rem; }
.border6 { border: 1px solid yellow; border-radius: .25rem; }
.border7 { border: 1px solid pink; border-radius: .25rem; }