* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--bg-dark);
   // // font-family: 'Roboto', sans-serif ;
   // // display: flex;
   // // justify-content: center;
   // // align-items: center;
}

.container {
   width: 100%;
   height: 100vh;
}

a { text-decoration: none;}

.inputTF {
   font-size: 16px;
   font-weight: bold;
   color: var(--bs-secondary);
}

.bb-info {
   border-bottom: 2px solid var(--bs-info);
}

.notAllowed { cursor: not-allowed; }
.pointer { cursor: pointer; }

.none { display: none; }
.hidden { visibility: hidden; }
.w-bg { background-color: transparent; }
.w-border { border: none; }
.opacity:hover { opacity: 0.8; }
.invertedX { transform: scaleX(-1); }
.jcfs { justify-content: flex-start; }
.jcfe { justify-content: flex-end; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }


.border { border: 1px solid #C1C7E0; border-radius: .25rem; }
.border2 { border: 1px solid #DEE2E6; border-radius: .25rem; }
.border3 { border: 1px solid red; border-radius: .25rem; }
.border4 { border: 1px solid blue; border-radius: .25rem; }
.border5 { border: 1px solid green; border-radius: .25rem; }
.border6 { border: 1px solid yellow; border-radius: .25rem; }
.border7 { border: 1px solid pink; border-radius: .25rem; }